version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]

  api:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
      TZ: Europe/Paris
      CONNECTION_STRING: "postgres://postgres:postgres@db:5432/postgres"
      XMLTV_BASE_URL: http://localxmltv/
    ports:
      - "3000:3000"

  localxmltv:
    image: nginx:latest
    ports:
      - "127.0.0.1:8080:80"
    volumes:
      - ${XML_TV_PATH}/output/:/usr/share/nginx/html/:ro

volumes:
  db_data: